<div class="pb-2 pb-5 h2">contact</div>

<form>
  <div class="form-group">
    <label for="exampleInputName1">Name</label>
    <input type="name" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Textarea</label>
    <textarea type="textarea" class="form-control" id="exampleInputPassword1" placeholder=""></textarea>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">確認する</label>
  </div>
  <button type="submit" class="btn btn-primary">送信</button>
</form>