<div class="container">
    <div class="col-sm-6 pb-5">
        <img class="rounded-circle col-sm-6 " src="/img/error_cat.jpg" alt="Error_cat">
    </div>
    <div class="col-sm-6">
        <h3 class="pb-5">404エラー：ページが見つかりません。</h1>
    </div>
    <div class="col-sm-6 pb-5">
        <img class="rounded-circle col-sm-6" src="/img/error_cat.jpg" alt="Error_cat">
    </div>
    <a href="/">TOPに戻る</a>
</div>