<div class="pb-2 pb-5 h2">新しいpersonを作る。</div>

<form action="/person/create" method="post">
<div class="form-group">
    <label for="exampleInputName1">name</label>
    <input name="name" type="name" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleInputName1">email</label>
    <input name="email" type="name" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">password</label>
    <textarea name="password" type="textarea" class="form-control" id="exampleInputPassword1" placeholder=""></textarea>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">確認する</label>
  </div>
  <button type="submit" class="btn btn-primary">送信</button>
</form>